// Place all the styles related to the Facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #89cff0;
}

div.container {
    background-color: #FFF;
}

nav.primary-nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    // text-align: center;
    // margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

div.random-fact {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}

div.top-facts {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;

    div.back-to-top {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
}

div.card {
    padding-bottom: 20px;
    min-height: 440px;

    div.photo {
        min-height: 200px;
        // max-height: 200px;
        width: 100%;
        overflow: hidden;
    }

    h4.card-title {
        margin-top: 5px;
        text-align: center;
    }

    p.card-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    div.votes {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        font-weight: bold;
    }

    div.card-nav {
        width: 100%;
        text-align: center;
    }
}

form {
    position: relative;
    width: 100%;
    margin-top: 25px;
    text-align: left;

    div.field {
        position: relative;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        
        input[type=file] {
            width: 100%;
            height: 45px;
            padding: 12px; 
            // border: 1px solid gray;
            // border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 15px;
            resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
            font-size: 16px;
            color: black;
        }
    
        textarea {
            width: 100%;
            height: 200px;
            padding: 12px;
            border: 1px solid gray;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 15px;
            font-size: 16px;
            color: black;
        }
    
        input[type=text]:focus, textarea:focus {
            box-shadow: 0 0 5px black;
            border: 1px solid black;
        }
    }

    div.actions {
        text-align: center;
        padding-bottom: 70px;
        
        // input:focus {
        //     outline:0;
        // }
        // input[type=submit] {
        //     position: relative;
        //     height: 30px;
        //     margin-top: 5px;
        //     border: 1px solid #89cff0;
        //     font-weight: normal;
        //     font-size: 16px;
        //     background-color: white;
        //     cursor: pointer;
        //     transition: .5s all;

        //     &:hover {
        //         background-color: #89cff0;
        //         color: white;
        //     }
        // }

    }
}